/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 0; box-sizing: border-box; }

body {
    font-size: 16px;
    line-height: 32px;
    font-family: Garamond, serif;
    color: darkgreen;
    }

h1 {
    font-size: 30px;
    color: antiquewhite;
}

h2 {
    font-size: 2px */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.75rem auto;
    padding: .5rem;
    max-width: 800px;
    background-color: darkgreen;
    }

header, footer, footer a {
    text-align: center;
    }

header img {
    width: 800;
    height: auto;
    float: right;
    border: 1px solid black;
}

footer {
    font-size: smaller;
    color: antiquewhite;
    }
